[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "==4.6.0"
certifi = "==2018.4.16"
chardet = "==3.0.4"
django-extensions = "==2.0.6"
django-filter = "==1.1.0"
djangorestframework = "==3.8.0"
idna = "==2.7"
pytz = "==2018.3"
requests = "==2.19.1"
selenium = "==3.11.0"
six = "==1.11.0"
"urllib3" = "==1.23"
Django = "==2.0.4"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
